.inputDiv {
  display: flex;
  margin: 10px;
}

.inputLabel {
  width: 50px;
  margin-right: 10px;
}

.toggleButtons {
  margin-bottom: 0;
}

.newLinkAdder {
  display: flex;
}

.newLinkContainer {
  display: flex;
}

.newLinkButton {
  height: 25%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}